* {
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 10px;
}

.container div {
    border: 1px solid black;
    background-color: white;
    padding: 10px;
}

/*
.container > * {
    border: 1px solid black;
    background-color: white;
    padding: 10px;
    grid-column: col-start/span 12;
}
*/

.header {
    grid-row: 0;
    grid-column: col-start /span 12;
}

body {
    background-color: #ADD8E6;
    font-family: Arial;
    margin: 50px;
}

h1 {
    color: #000080;
    font-family: Arial;
    font-style: italic;
    border-width: 5px;
    border-color: #1f3b4d;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
    margin: 20px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}

p {
    margin-left: 20px;
    font-size: 18px;
}