.container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: dodgerblue;
  padding: 5px;
  gap: 5px;  
}

.container div {
  background-color: #f1f1f1;
  color: #000;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

body {
    background-color: #ADD8E6;
    font-family: Arial;
    margin: 50px;
}

h1 {
    color: #000080;
    font-family: Arial;
    font-style: italic;
    border-width: 5px;
    border-color: #1f3b4d;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
    margin: 20px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}

p {
    margin-left: 20px;
    font-size: 18px;
}