.container {
  display: flex;
  flex-flow: column wrap; 
}

.container div {
  background-color: #ffffff;
  margin: 10px;
  padding: 10px;
  width: 50%;
}

body {
    background-color: #ADD8E6;
    font-family: Arial;
    margin: 50px;
}

h1 {
    color: #000080;
    font-family: Arial;
    font-style: italic;
    border-width: 5px;
    border-color: #1f3b4d;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}

p {
    margin-left: 15px;
    font-size: 12px;
}