.container {
  display: flex;
  height: 400px;
  flex-wrap: nowrap;
  align-content: center;
  overflow: scroll;  
  background-color: DodgerBlue;
}

.container div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  padding: 10px;
  text-align: center;  
  font-size: 30px;
}