body {
    background-color: #ADD8E6;
    font-family: Arial;
    margin: 50px;
}

h1 {
    color: #000080;
    font-family: Arial;
    font-style: italic;
    border-width: 5px;
    border-color: #1f3b4d;
    border-radius: 10px;
    margin: 10px;
}
