body {
    margin: 0px;
    overflow-x: hidden;

    background-color: #15151e;
    font-family: Arial;
}


/* Header elements */
.header {
    height: 60px;
    width: 100vw;
    position: absolute;
    top: 0;

    display: flex;

    background-color: #c64151;
    text-align: center;
}

.header div {
    flex: 1;
    text-align: center;
}

.header > .logo-container {
    text-align: center;
}

.header > .menu-container {
    margin-left: 20px;

    align-content: center;
    text-align: left;
}

.menu-container img {
    height: 30px;
    width: 35px;

    filter: brightness(0) invert(1);
}


/* Body elements */
.body_div {
    margin: 10px;
    padding-top: 70px;
}

.profile_div {
    display: flex;

    align-items: center;
}

.side_items {
    flex: 1;

    margin: 20px;

    color: #ffffff;
    font-size: 12px;
    font-weight: light;
    text-align: justify;
}

.side-items h6 {
    margin: 0px;

    font-weight: bold;
    font-size: 12px;
    text-align: justify;
}

.central_profile {
    height: 200px;
    width: 200px;

    padding: 20px;

    align-content: center;
    aspect-ratio: 1/1;
    overflow: hidden;
}

.central_profile img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    border-radius: 100px;
}


/* To be reused */


.body_div .container-fluid h4 {
    font-size: 24px;
}

.body_div .container-fluid h5 {
    margin-bottom: 0px;
    margin-top: 0px;

    font-size: 20px;
}

.body_div .container-fluid p {
    margin-left: 10px;
    
    font-size: 16px;
}

.body_div .container-fluid ul {
    font-size: 16px;
}

.body_div .container-fluid li {
    font-size: 16px;
}

.gallery {
    margin-top: 20px;
}

#1stcarousel {
    aspect-ratio: 16/9;
    width: 100%;
    height: 100%;
}

#1stcarousel .carousel-inner {
    height: 100%;
}

.cropped-frame {
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
}

.cropped-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg-color {
    background-color: #522e29 !important;
    color: #FFFFFF !important;
}

.card {
    border: solid;
    border-width: 1px;
    background-color: #FFFFF6;
    padding: 10px;
}

.image-rule {
    padding-top: 5px;
    width: 100%;
    height: auto;
}